.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

.form-container {
  max-width: 65%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}

.form-spacing {
  margin: 20px auto;
  padding: 20px;
}

.buttonComponent {
  float: right;
  padding: 10px;
}

input {
  width: 150px;
}
